---
---

@import "{{ site.theme }}";

/* Add your custom styles here */

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #f2f2f2;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #333;
}

/* Highlight style for the active navigation link */
nav ul li.active a {
  color: #1e6bb8 !important;
  font-weight: bold !important;
}

/* --- Dropdown Menu Styles --- */

/* The container for the dropdown */
nav ul li.dropdown {
  position: relative; /* This is crucial for positioning the dropdown */
}

/* The dropdown menu itself (hidden by default) */
nav ul li .dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  list-style: none;
  padding: 0;
  margin: 0;
  border-radius: 4px;
}

/* Links inside the dropdown */
nav ul li .dropdown-menu li a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Change color of dropdown links on hover */
nav ul li .dropdown-menu li a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
nav ul li.dropdown:hover > .dropdown-menu {
  display: block;
}

/* Small arrow next to dropdown title */
nav ul li.dropdown a span {
  font-size: 0.7em;
  margin-left: 5px;
}

/* Custom Header Image */
.page-header {
  aspect-ratio: 1280 / 395;
  background-image: url({{ '/assets/images/header.jpg' | relative_url }});
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  // Adjust the padding to change the header's height
  padding: 0;
  height: auto;
  width: 100%;
  
  // Removes the default gradient and border
  background-color: transparent;
  border: none;
}

/* Hide the default site title and description text */
.project-name, .project-tagline {
  display: none;
}

/* Hide the "View on GitHub" button */
.page-header .btn {
  display: none !important;
}

/* text header color */
.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6 {
  color: darkblue;
}

