---
---

@import "{{ site.theme }}";

/* Add your custom styles here */

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #f2f2f2;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #333;
}

/* Style for the active navigation link */
nav ul li.active a {
  color: #1e6bb8;
  font-weight: bold;
}

/* Custom Header Image */
.page-header {
  aspect-ratio: 1280 / 395;
  background-image: url({{ '/assets/images/header.jpg' | relative_url }});
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  // Adjust the padding to change the header's height
  padding: 0;
  height: auto;
  width: 100%;
  
  // Removes the default gradient and border
  background-color: transparent;
  border: none;
}

/* Hide the default site title and description text */
.project-name, .project-tagline {
  display: none;
}

/* Hide the "View on GitHub" button */
.page-header .btn {
  display: none !important;
}